@import 'variables';

* {
    font-family: 'Gupter', serif;
}

html{
    overflow: hidden;
    height: 100%;
}

body{
     overflow: auto;
    // height: 100%;
}

.background {
    img {
        z-index: 1;
        width: 100vw;
        height: auto;
        position: relative;
        margin: 0;
        padding: 0;
    }

    ;

    .about {
        z-index: 10;
        position: absolute;
        bottom: 85vh;
        left: 20px;
        font-size: 7vw;
    }

    .aboutText {
        position: absolute;
        z-index: 10;
        text-align: left;
        width: 50vw;
        bottom: 70vh;
        font-size: 4vw;
        line-height: 4.1vw;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top-right-radius: 500px;
        border-bottom-right-radius: 500px;
        color: white;
        box-shadow: 0 1px 3px black;
        background-color: rgba($color: $myOrange, $alpha: 1);

    }

    .skills {
        z-index: 10;
        position: absolute;
        bottom: 60vh;
        width: 100%;
        text-align: right;
        right: 20px;
        font-size: 7vw;
    }

    .social {
        z-index: 10;
        position: fixed;
        display: flex;
        justify-content: space-around;
        width: 100%;
        bottom: 5vh;

        .icon {
            background-color: $myOrange;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 500px;
            box-shadow: 0 1px 3px black;

        }

        .icon:hover {
            background-color: $darker_yellow;
            color: white;
        }
    }

    .skillsArea{
        z-index: 10;
        position: absolute;
        width: 60%;
        height: 50px;
        background-color: $myOrange;
        bottom: 53vh;
        left: 40%;
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;
        box-shadow: 0 1px 3px black;

        .icon{
            z-index: 10;
            color: white;
            padding: 10px;
        }
    }
    .divider{
        width: 100vw;
        height: 8vh;
        background-color: $myOrange;
        text-align: center;
        color: white;
        font-size: 7vw;
    }

}



#navigation {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 7vh;
    background-color: rgba($color: $myOrange, $alpha: 0.6);
}

a {
    z-index: 10;
    color: white;
}